{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MiniTalk</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- 顶部导航栏 -->
    <div class="navbar">
        <div class="nav-left">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <strong>MiniTalk</strong>
                </a>
            </div>

            <div class="nav-links">
                <a href="{% url 'public_post' %}">Explore</a>
                <a href="{% url 'post' %}">My Journal</a>
                <a href="{% url 'create_post' %}">New Story</a>
            </div>
        </div>

        <div class="nav-right">
            {% if request.user.is_authenticated %}
                <a href="{% url 'profile' %}" class="logout-link">{{ request.user.username }}</a>
                <a href="{% url 'logout' %}" class="logout-link">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="logout-link">Login</a>
                <a href="{% url 'register' %}" class="logout-link">Register</a>
            {% endif %}
        </div>
    </div>

    <!-- 页面主体 -->
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>

    <!-- JS -->
    <script src="{% static 'js/main.js' %}?v=2"></script>

</body>
</html>